
build/
cmake-build-*/
out/

.vscode/
.idea/
.vs/

*.exe
*.out
*.app
*.o

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeLists.txt

.DS_Store
#to samo co ponizej tylko dla macos xp
Thumbs.db 
#to jest dla was zeby zeby nie wrzucalo jakiegos dziwnego pliku z configiem folderu na windows